#saat {
    padding: 10px;
    background-color: white;
    color: red;
    font-family: cursive;

}

#saat:hover {
    background-color: purple;
    color: palevioletred;
    font-family: cursive;

}

.saatd {
    border-radius: 14px;
    width: 500px;
    height: 200px;
    border: 12px solid black;
    
}

.saati {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 100%;

}

span {
    text-align: center;
    align-content: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 50px;
    box-sizing: border-box;
}

body {
    background-color: lightskyblue;
}

.orta {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}